html,
body {
  height: 100%;
  margin: 0;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main.content {
  flex: 1;
}

footer {
  background-color: #765433;
  color: white;
  text-align: center;
  font-family: sans-serif;
  font-size: 16px;

  line-height: 1.4;

  padding: 40px 20px;

  margin-top: auto;
}

.footer-links {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.footer-links a {
  color: #efe3cf;
  text-decoration: none;
  font-size: 0.95rem;
  font-weight: 600;
  border-bottom: 1px solid transparent;
  transition: all 0.3s ease;
  padding-bottom: 2px;
}

.footer-links a:hover {
  color: #fff;
  border-bottom: 1px solid #fff;
}

.separator {
  color: #a88b7d;
  font-weight: lighter;
}
