

/* --- CONTENIDO PRINCIPAL (Aquí está la clave del diseño) --- */
.main-container {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 50px 20px;
}

.card {
    background-color: white;
    width: 100%;
    max-width: 1000px;
    padding: 40px;
    border-radius: 6px;
    border: 1px solid #CCC5B9;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
    height: fit-content;
}

h2 {
    color: #444;
    margin-top: 0;
    margin-bottom: 25px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
    font-size: 24px;
    text-align: left;
}

/* --- TABLA --- */
.table-responsive { overflow-x: auto; }

table {
    width: 100%;
    border-collapse: collapse;
    min-width: 800px;
}

thead { background-color: #f9f9f9; }

th {
    text-align: left;
    padding: 15px 10px;
    color: #555;
    font-weight: 700;
    border-bottom: 2px solid #ddd;
    font-size: 14px;
}

td {
    padding: 15px 10px;
    border-bottom: 1px solid #eee;
    color: #333;
    vertical-align: middle;
    font-size: 14px;
}

.text-center { text-align: center; }

/* Botón Eliminar */
.btn-delete {
    background-color: red;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    display: inline-block;
    transition: background-color 0.2s;
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);
}
.btn-delete:hover { background-color: #B71C1C; }